{
  "branches": ["master", "develop"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "build/linux/Slender", "label": "Slender (Linux)" },
          { "path": "build/windows/Slender.exe", "label": "Slender (Windows)" }
        ]
      }
    ]
  ]
}
